.footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98.7vw;
  height: 3rem;
  background-color: var(--background-color-secodary);
}

.listFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  justify-items: flex-end;
}

.link {
  text-decoration: none;
  margin: 1.5rem;
  cursor: pointer;
  color: var(--color-letter);
}

.link:visited {
  text-decoration: none;
}
