.article {
  display: flex;
  width: 98.7vw;
  height: 100vh;
  background: url('../public/ferrari.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-start;
}

.cardServices {
  width: 40rem;
  height: 26rem;
  margin: 2rem;
  margin-top: 3rem;
  text-align: center;
}

.title {
  font-family: Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: 800;
  color: #292828;
}

.strong {
  font-size: 5rem;
  font-weight: 800;
  font-family: Helvetica, sans-serif;
  color: #1C9371;
  text-shadow: 0px 10px 10px #292828;
}

.buttonCotizar {
  display: inline-flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  width: 6rem;
  height: 3rem;
  padding: 0.5rem;
  margin: 1rem;
  background-color: white;
  color: rgb(33, 35, 36);
  border: none;
  cursor: pointer;
  transition: all 500ms;
}

.arrow {
  display: none;
}

.buttonCotizar:hover {
  width: 8rem;
  .arrow{
    display: flex;
  }
}
