.navbar
{
  position: fixed;
    top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 6rem;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem;
}

.listItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-between;
  justify-items: flex-end;
  margin: 2rem;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
}

.link:hover {
  cursor: pointer;
  filter: brightness(0.6);
  transition: ease-in-out 300ms;
}

.link:current {
  border-bottom: solid 0.3rem var(--color-letter);
}

.logo {
  margin: 2rem;
  border-radius: 999px;
}
