/* ------------------ GENERAL ---------------- */
.section
{
  width: 98.5vw;
  height: calc(100vh - 6.1rem);
  scroll-margin-top: 6rem;
}

/* ------------------ SERVICES ---------------- */
/* ------------------ CONTACT ---------------- */
/* ------------------ ABOUT ---------------- */
