/* ------------------ GENERAL ---------------- */
.section {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  width: 98.5vw;
  height: calc(100vh - 6.1rem);
  scroll-margin-top: 6rem;
}

/* ------------------ SERVICES ---------------- */
.cardServices {
  display: flex;
  gap: 1rem;
  width: 90vw;
  padding: 0.5rem;
  justify-content: space-around;
  align-items: center;
}

.text {
  width: 25rem;
}

.image {
  margin: 0.5rem;
  border-radius: 5px;
}

/* ------------------ CONTACT ---------------- */
/* ------------------ ABOUT ---------------- */
