.container{
  display: flex;
  width: 50vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem;
  background: #20002c;  /* fallback for old browsers */
    background: linear-gradient(to right, rgba(255, 205, 112, 0.205) 100%, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -webkit-linear-gradient(to right, rgba(255, 205, 112, 0.205) 100%, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
  border-radius: 2.5em;
  margin: 1rem;
  padding: 30px;
  width: 300px;
  height: 62vh;
  min-height: max-content;
  border: solid #3e045e 0.5rem;
}

.button {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  background: #5B0888;
  color: #ffff;
  padding: 0.7em 5.5em;
  display: flex;
  align-items: center;
  border: 2px solid #66da4300;
  border-radius: 5em;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.button:active {
  border: 2px solid #66da4300;
  background: #5B0888;
  color: #ffff;
}

.button:disabled {
  background-color: #6c4381;
  cursor: no-drop;
}

.input {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #66da4300;
  border-bottom: 1px solid #5B0888;
  outline: none;
  background-color: transparent;
  color: #5B0888;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.2s;
}

.input:focus {
  border: 1px solid #66da4300;
  border-bottom: 1px solid #5B0888;
  background-color: transparent;
  color: white;
}

.input::placeholder {
  color: #ffff;
}

.textarea {
  font-family: Helvetica, sans-serif;
  width: calc(100% - 10px);
  padding: 8px;
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid #66da4300;
  border-bottom: 1px solid #5B0888;
  outline: none;
  background-color: transparent;
  color: #5B0888;
}

.textarea::placeholder {
  color: #ffff;
}

.textarea:focus {
  border: 1px solid #66da4300;
  border-bottom: 1px solid #5B0888;
  background-color: transparent;
  color: white;
}

.error {
  font-size: 0.8rem;
  color: red;
}

.ok {
  font-size: 1rem;
  color: #5cff47;
}

.spinner {
   width: 56px;
   height: 56px;
   display: grid;
   border: 4.5px solid #0000;
   border-radius: 50%;
   border-right-color: #5cff47;
   animation: spinner-a4dj62 1s infinite linear;
}

.spinner::before,
.spinner::after {
   content: "";
   grid-area: 1/1;
   margin: 2.2px;
   border: inherit;
   border-radius: 50%;
   animation: spinner-a4dj62 2s infinite;
}

.spinner::after {
   margin: 8.9px;
   animation-duration: 3s;
}

@keyframes spinner-a4dj62 {
   100% {
      transform: rotate(1turn);
   }
}
